body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

h1 {
    background-color: #252525;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 75px;
    text-align: center;
    color: #F94F6D;
}

h3 {
    text-align: center;
}

div {
    display:inline-block;
}